      
  <%= form_for(@member, {url: update_password_member_path, method: :put})  do %>
  <h2>Change Your Password</h2>
<!--[form:members]-->
  <div><label for="member_password">Enter New Password</label><br />
  <%= password_field 'member', 'password', { :class => 'normal' }  %>
      <%= error_message_on @member, 'password', 'Password ' %>
  </div>
  <div style="clear: left;"><label for="member_password_confirmation">Confirm New Password</label><br />
  <%= password_field 'member', 'password_confirmation', { :class => 'normal' }  %>
      <%= error_message_on @member, 'password_confirmation', 'Password Confirmation ' %>
  </div>
  <div><%= submit_tag 'Submit' %></div>
<% end %>
